:root{
    --primaryColor:rgb(137,196,196,.7);
    --secondaryColor:cornflowerblue;
}
*{
    margin: 0;
    padding: 0;
}

a{
    display: inline-block;
    transition: all .2s ease-in;

}
a:active{
    transform: translateY(10%);
color: coral;


}
h1{
    color: var(--primaryColor);
}
ul li:first-child{
    color: var(--secondaryColor);
}